<%# <%= @articles.inspect%>
 <div class="jumbotron text-center">
        <h5> <%=link_to "Publicar Articulo", new_article_path, class:"btn btn-secondary"%></h5>
    </div>
    <% @articles.each do |article| %>
<div class="container">
   
    <div >
    <h3 class="text-info"><%=link_to article.title, article%> </h3>
    </div>
    
     <%=article.content%><br>

    </div>
    <br><hr><br>
    <% end %>   
</div>

    




<%# inspect es metodo que permite inspeccionar un objeto %>