@import url('https://fonts.googleapis.com/css?family=Lobster');
.navcolor{
     background-color: #3F5866;
}

.orange{
     color: #FF8F00;
}
.title{
     color: #3F5866 !important;
}


a:visited {
     color: #FF8F00;
}
a:hover{
     color:  #FF8F00 !important;
}
a:link{
     color:  #FF8F00 ;
}