@import url('https://fonts.googleapis.com/css?family=Lobster');
.be-red{
     background-color: #3F5866;
}

.white{
     color: #FF8F00;
}
h1{
     font-family: 'Lobster', cursive;
}

a:visited {
     color: #FF8F00;
}
a:hover{
     color:  #FF8F00 !important;
}
a:link{
     color:  #FF8F00 !important;
   
}